<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {#  {{ encore_entry_link_tags('app') }} #}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/variables.scss">
        {% block stylesheets %}

        {% endblock %}
           {# {{ encore_entry_script_tags('app') }} #}
        {% block javascripts %}
 
        {% endblock %}

    </head>


    <body>

        {% block header %}
            {% include "/partials/_header.html.twig" %}
        {% endblock %}

        {% block body %}{% endblock %}

    </body>